<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.society">
    <!-- sd读写权限 -->
    <!-- 读取您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.ZyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ForumActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Datil_mes_Activity"
            android:exported="true" />
        <activity
            android:name=".Activity.OwnActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.EassyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ExercisesDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.RecordActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ChangePwdActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" />
    </application>

</manifest>